__pycache__/
*.py[cod]
*$py.class


*.pyc
.vscode
output*
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots


data/*
!data/dtu
!data/llff
!data/nerf_synthetic
data/dtu/*
data/llff/*
data/nerf_synthetic/*
!*.gitkeep